
body {
    background-color: white; 
    margin: 0;
}

nav {
    color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    padding: 10px;

}


li:not(.built-by) {
    margin-right: 10px;
    border-bottom: 3px solid #ccc; 
}




a {
    text-decoration: none;
    color: #666; 
}


.built-by img {
    width: 80%;
    height: 80%;
}

.header {
    text-align: center;
    margin: 20px;
}

.header h2 {
    font-weight: bold; 
    font-size: 40px; 
    margin-bottom: 10px; 
    font-family: freightsans_regular ,sans-serif;
}

.header p {
    font-size: 18px;
    color: #666; 

}

.honeycomb {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);
}

.honeycomb-cell {
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);

}

.honeycomb-cell_img
{
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
}
.honeycomb-cell_title{
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms;
}

